.App {
  /* text-align: center; */
}

/* -----------NAVBAR-------------- */

.navbar {
  background-color: "#F79F1B";
}

.nav-title {
  text-align: center;
}

/* --------items Container----------- */

.itemsToCenter {
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
}

.ItemsContainer {
  text-align: center;
  padding: 0px, 40px;
  color: white;
}

/* --------home page--------------- */

#homeTitle {
  text-align: right;
  color: white;
  padding-right: 40px;
}

.secondaryContainer {
  display: block;
  text-align: center;
  width: 50%;
}

#HomePagecontainer1 {
  display: inline-block;
  width: auto;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

#HomePagecontainer2 {
  display: inline-block;
  text-align: center;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.HomePageText {
  width: 100%;
}

#cardExample {
  height: auto;
  width: auto;
  border-radius: 8px;
}

#menuPageExample {
  height: auto;
  width: auto;
  border-radius: 8px;
}

/*------------ new item form -------------*/

.newItemDiv {
  padding-top: 50px;
  color: white;
  display: block;
  text-align: center;
}

.newItemForm {
  color: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left
}
