.App {
  /* text-align: center; */
}

.navbar {
  background-color: "#F79F1B";
}

.nav-title {
  text-align: center;

}

.itemsToCenter {
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
}

.ItemsContainer {
  text-align: center;
  padding: 0px, 40px;
  color: white;
}

#HomePagecontainer1 {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding-left: 75px;
}

#HomePagecontainer2 {
  display: inline-block;
  text-align: center;
  width: 25%;
  padding-left: 50px;
}

.secondaryContainer {
  display: block;
  text-align: center;
  width: 100%;
}

#cardExample {
  height: auto;
  width: auto;
  border-radius: 8px;
}

#menuPageExample {
  height: auto;
  width: auto;
  border-radius: 8px;
}


.newItemDiv {
  display: block;
  text-align: center;
}

.newItemForm {
  color: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left
}

#homeTitle {
  text-align: right;
  color: white;
  padding-right: 40px;
}
